@import url(./imports.css);
@import url(./modal.css);

body {
    font-family: var(--fonte);
    background-color: white;
}

.container-cabecalho {
    display: flex;
    width: 100vw;
    height: 18.4vh;
    margin-top: 1rem;
    justify-content: space-between;
}

.cabecalho-logo {
    margin-left: 1rem;
}

.cabecalho-data-hora {
    margin: 0 7vw 0 0;
}

#hora-cabecalho {
    font-size: 80px;
    font-weight: bold;
}

.dia-data {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 12px;
}

.cabecalho-local-tempo {
    margin-right: 1rem;
}


#localidade {
    font-weight: bold;
    font-size: 16px;
}

.clima-tempo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;
}

#temperatura {
    font-size: 32px;
    font-weight: 700;
    margin: auto auto auto 1rem;
}

.container-main {
    width: 100vw;
    height: 66.8vh;
    background-image: url(../img/bola-LogoCompasso\ 1.png);
    background-repeat: no-repeat;
}

.container-main-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 2rem;
    margin-right: 7vw;
    margin-top: 2rem;
}

.main-txt-en {
    color: #C13216;    
    margin: .5rem 0;
}

.main-txt-en-h4 {  
    font-size: 34px;
    font-weight: bold;
}

.main-txt-en-h3 , .main-txt-en-h2, .main-txt-en-h1 {
    font-size: 64px;
    font-weight: bold;
}

.main-txt-en-h1 {
    text-shadow: 
    -1px -1px 1px #000, 
    -1px 1px 1px #000,                    
     1px -1px 1px #000,                  
     1px 0px 1px #000
}

.main-txt-pt {
    font-size: 1.2rem;   
}

footer {
    display: flex;
    width: 100vw;
    height: 10vh;
    background: pink;
    background: rgb(69,69,69);
    background: linear-gradient(90deg, rgba(69,69,69,1) 0%, rgba(28,29,32,1) 100%);
}

.footer-aviso {
    display: flex;
    width: 46vw;
    height: auto;
    justify-content: flex-end;
    align-items: center;
}

footer div {
    width: 1px;
    height: 5vh;
    background-color: white;
}

.f-aviso {
    font-weight: 400;
    margin-right: 1rem;
    font-size: 11px;
    color: white;
    text-align: center;
}

.footer-contador {
    display: flex;
    width: 36vw;
    color: white;
    margin-left: 1vw;
}

.f-contador-txt {
    font-size: 11px;
    font-weight: 400;
    padding: 2rem 1rem 2rem 8rem;
}

.f-contador-timer {
    font-size: 50px;
    font-weight: 700;
    padding: 1rem 0 0;
    text-shadow: 
    -1px -1px 1px #000, 
    -1px 1px 1px #000,                    
     1px -1px 1px #000,                  
     1px 0px 1px #000
}

.f-contador-segundos {
    font-size: 10px;
    font-weight: 300;
    text-align: center;
}

.footer-botoes {
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-btn-noticias {
    width: 8vw;
    height: 5.2vw;
    font-size: 13px;
    font-weight: 500;
    color: #C13216;
    background-color: white;
    border: none;
}

.footer-btn-logout {
    text-align: center;
    width: 9vh;
    height: auto;
    color: white;
    border: none;
    background-color: transparent;
}